<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
 <body>
  <h1>Suivi de positions google</h1>
  <div class="entry">
   <h2>Paramètres</h2>
   <br />
   <br />
   {% from "form.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.url) }}
    {{ render_field(form.keyword) }}
    <font color="red">{{error}}</font>
    {{ render_field(form.page_max) }}
  </dl>
  <p><input type="submit" class="btn btn-success" value="Lancer le crawl"/>
</form>
  </div>
 <table class="array">
  <tr><td>Mot-clé</td><td>URL</td><td>Position</td></tr>
{% for row in result %}
  <tr>
  {% for column in row %}
    <td>{{ column|e }}</td>
  {% endfor %} 
  </tr>
{% endfor %}
</table>

</body>
<script type="text/javascript" src="{{ url_for('static',filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
</html>